
<% session[:cart] ||= [] %>
<div class="img">
<% quantity = 0%>
</div>
<div class="top">    
<% if user_signed_in? %>
    <% if current_user.is_admin? %>
    <div class="container">
            <%= link_to "dinnerdash", root_path, class: "dinner" %> 
        <div class="back">
            <%= link_to "backoffice", meal_categories_path, class: "nav-item nav-link text-warning backoff" %> 
            <ul></ul>
            <%= link_to "Perfil", edit_user_registration_path, class: "ent_cad" %>
            <ul></ul>
            <%= link_to "Sair", destroy_user_session_path , method: :delete, class: "ent_cad" %>
        </div>
    </div>
        </br>

         <br><br><br>
         <br><br><br>
         <br><br><br>
        <div class="abaixo_menu">
            <div class="bem">
                <span id="bem_users">Bem-vindo, <%="#{current_user.name}"  %></span>
            </div>
            <div class="linha2">
                <h3>Monte o seu prato, escolha sua salada,</h3>
                <h3>molho, prato principal, guarnição e bebida</h3>
            </div>
        </div>
    <% else %>
    <div class="container">
        <div>
            <%= link_to "dinnerdash", root_path, class: "dinner" %>    
        </div>
        <div class="container1">
            <%= link_to "Perfil", edit_user_registration_path, class: "ent_cad" %>
            <ul></ul>
            <%= link_to "Sair", destroy_user_session_path , method: :delete, class: "ent_cad" %>
        </div>
    </div>
        </br>

         <br>
         <br><br><br>
         <br><br><br>
         <br><br><br>
         <div class="abaixo_menu">
            <div class="bem">
                <span id="bem_users">Bem-vindo, <%="#{current_user.name}"  %></span>
            </div>
            <div class="linha2">
                <h3>Monte o seu prato, escolha sua salada,</h3>
                <h3>molho, prato principal, guarnição e bebida</h3>
            </div>
         </div>
    <% end %>

<% else %>
    <div class="container">
        <div>
          <%= link_to "dinnerdash", root_path,class: "dinner" %> 
        </div>
        <div class="container1">
            <div>
              <%= link_to "Entrar", new_user_session_path, class: "ent_cad" %> 
            </div>
          <ul></ul>
            <div>
              <%= link_to "Cadastro", new_user_registration_path, class: "ent_cad" %>
            </div>
        </div>
    </div>

    </br>
    <br>
    <br><br>
    <br><br><br>
    <br><br><br><br>x
    <div class="abaixo_menu">
        <div class="linha2">
            <span id="monte">Monte o seu prato,</span>
            <h3> Escolha sua salada, molho, prato principal, guarnição e bebida</h3>
        </div>
    </div>
<% end %>
</div>
<% if notice.to_s != "" %>
      <div class="alert alert-warning alert-dismissible fade show personalite" role="alert">
        <strong class="notice"><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      </br>
    <% end %>

    <% if alert.to_s != "" %>
      <div class="alert alert-warning alert-dismissible fade show personalite" role="alert">
        <strong class="alert"><%= alert %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      </br>
    <% end %>
</br>

<% MealCategory.all.each do |s| %>
    <h1><%= s.name %></h1>
    <div class="cardContainer">
        <% Meal.all.each do |meal| %>
            <%if s.name == MealCategory.find(meal.meal_category_id).name %>
                <div class="card" style="width: 18rem;">
                    <%= image_tag(meal.image, class: "card-img-top" )%>
                    <div class="card-body">
                        <h5 class="card-title"><%= meal.name %></h5>
                        <p class="card-text"><%= meal.description %></p>
                        <p class="card-text">R$ <%= meal.price %> por porção</p>
                        <p>Quantidade</p>
                        <% var = false %>
                        <% num = 0 %>
                        <% session[:cart].each do |x| %>
                            <% num = x["quantity"]%>
                            <% if Meal.find(x["product"]) == meal %>
                                <% var = true %>
                            <% end %>
                        <% end %>
                        <% if var == true  %>
                            <fieldset disabled>
                                <input id="number" type="number" value="" step="1" min="1" class="form-control"></br></br>
                            </fieldset>
                            <%= button_to 'já adicionado ao meu prato', add_path(id: meal.id,quantity: quantity),{onclick: "set_quantity()", disabled: true ,method: :put,class: "btn btn-success"} %>
                        <% else %>
                            <%= form_with url: add_path(id:meal.id), method: :put do |f| %>
                                <%= f.number_field :quantity,{:value => 1,:class => "multiple_text_field form-control", min: 1 } %></br><br>
                                <%= f.submit "adicionar ao meu prato", class: "btn btn-success" %>
                            <% end %>
                        <% end %> 
                    </div>
                </div>
            <% end %> 
        <% end %>
    </div>
<% end %>
<hr>

<h1>Finalizou o seu prato? </h1>
<p>Confira os itens pedidos antes de finalizar o pedido</p>
<% total = 0 %>
<% session[:cart].each do |f| %>
    <% number = f["quantity"] %>
    <% total = total + ((Meal.find(f["product"]).price) * f["quantity"].to_f )%>
    <div class="cardContainer">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <div class="imgCard">
                <div>    
                    <%= image_tag(Meal.find(f["product"]).image,height: '250', width: '250' )%>
                </div>
                <div>
                    <h5 class="card-title"><%= Meal.find(f["product"]).name %></h5>
                    <p class="card-text">Quantidade:<%=f["quantity"]%></p>
                    <p class="card-text">Preço unitário: R$ <%= Meal.find(f["product"]).price %></p>
                    <p class="card-text">Preço total: R$ <%= Meal.find(f["product"]).price * f["quantity"].to_f%></p>
                </div>
                <div>   
                    <p>Quantidade</p>
                        <%= form_with url: remove_path(id: f), method: :put do |f| %>
                            <%= f.number_field :quantity, {:class => "multiple_text_field form-control", min: 1,disabled: true, :value => number} %></br><br>
                            <%= f.submit "remover do meu prato", class: "btn btn-outline-danger" %>
                         <% end %>
                </div>  
            </div>
        </div>
    </div>
</div>
<% end %>


<hr>

<p>Preço total do pedido: <span style="color:green"><%="R$#{total}" %> </span></p>

<% if user_signed_in? %>
    <% if session[:cart] == []%>
    <p>Para prosseguir monte o seu prato</p>
        <%= button_to 'finalizar e pagar', orders_path(price: total,user_id: current_user.id,situation_id: Situation.find(1)),{ method: :post,disabled: true,class: "btn btn-success button_new_order"} %>

    <% else %>
        <%= button_to 'finalizar e pagar', orders_path(price: total,user_id: current_user.id,situation_id: Situation.find(1)),{ method: :post,class: "btn btn-success button_new_order"} %>
    <% end %>
<% else %>
    <p>Para finalizar o seu pedido, entre com sua conta ou faça o seu cadastro.</p>
    <%= link_to  "entrar com minha conta", new_user_session_path, class: "btn btn-success button_new_order" %>
    <%= link_to  "fazer meu cadastro", new_user_registration_path, class: "btn btn-outline-success button_new_order" %>
<% end %>


<footer class="footer">
  <li class="ftlil"><b>dinnerdash | todos os direitos reservados</b> </li>
  <li class="ftlir">desenvolvido por Trainee da silva </li>
</footer>








