<%= render 'banner' %>
<% erro = "" %>
<% if @meal_category.errors %>
    <% @meal_category.errors.each do |message| %>
        <% erro = message.to_s %>
    <% end %>
<% end %>
<h3>Nova categoria de refeição</h3>
<hr>
<%= form_for @meal_category do |f| %>
    <% if erro == "name" %>
        <div>
            <%= f.label :Nome %> <br />
            <%= f.text_field :name, class: "form-control is-invalid" %>
            <div class="invalid-feedback invalido">
              Por favor insira uma categoria!
            </div>
        </div>
    <% else %>
        <div>
            <%= f.label :Nome %> <br />
            <%= f.text_field :name, class: "form-control" %>
        </div>
    <% end %>
    </br>
    <%= f.submit 'criar categoria de refeição', class: "btn btn-success" %>
    <%= link_to 'voltar', :back, class: "btn btn-secondary" %>
<% end %>