<div class="img_back">
</div>
<div class="top">
  <div class="container">
    <%= link_to "dinnerdash", root_path, class: "dinner" %> 
    <div class="back">
      <%= link_to "Backoffice", meal_categories_path, class: "nav-item nav-link text-warning backoff" %> 
      <ul></ul>
      <%= link_to "Perfil", edit_user_registration_path, class: "ent_cad" %>
      <ul></ul>
      <%= link_to "Sair", destroy_user_session_path , method: :delete, class: "ent_cad" %>
    </div>
  </div>
   <div class="margen">
    <span id="bem_users1">Backoffice</span>
    <h3 id="bem_users2">Gerencie pedidos,refeições e mais.</h3>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Pedidos",orders_path, class: "nav-link"  %> 
      </li>
      <li class="nav-item">
        <%= link_to "Usuários",all_users_path, class: "nav-link"  %>  
      </li>
      <li class="nav-item">
        <%= link_to "Refeições", meals_path, class: "nav-link"  %> 
      </li>
      <li class="nav-item">
        <%= link_to "Categorias de Refeição", meal_categories_path, class: "nav-link" %> 
      </li>
    </ul>
  
  </div>
</nav>
<br>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Pedido de nº</th>
            <th>Status</th>
            <th>Data</th>
            <th>Usuário</th>
            <th>Preço total</th>
            <th>Detalhes</th>
            <th colspan="2" ></th>
        </tr>
    </thead>
    
    <tbody>
        <% Order.all.each_with_index do |order, index| %>
            <tr>
                <td><%= order.id %></td>
                <td><%= Situation.all.find(order.situation_id).description  %></td>
                <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= User.all.find(order.user_id).name %></td>
                <td><%= order.price %></td>
                <td> <%= link_to  "ver itens pedidos", order_path(order) ,method: :get,data: {toggle: "modal", target: "#modal"}  %> </td>
                <td>
                    <%= link_to 'editar', edit_order_path(order), class: "btn btn-outline-warning bord"%>
                </td>
                <td>
                    <%= link_to 'apagar', order_path(order), 
                    method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-outline-danger bord"   %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
</br>
