<div class="img_back">
</div>
<div class="top">
  <div class="container">
    <%= link_to "dinnerdash", root_path, class: "dinner" %> 
    <div class="back">
      <%= link_to "Backoffice", meal_categories_path, class: "nav-item nav-link text-warning backoff" %> 
      <ul></ul>
      <%= link_to "Perfil", edit_user_registration_path, class: "ent_cad" %>
      <ul></ul>
      <%= link_to "Sair", destroy_user_session_path , method: :delete, class: "ent_cad" %>
    </div>
  </div>
   <div class="margen">
    <span id="bem_users1">Backoffice</span>
    <h3 id="bem_users2">Gerencie pedidos,refeições e mais.</h3>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Pedidos",orders_path, class: "nav-link"  %> 
      </li>
      <li class="nav-item">
        <%= link_to "Usuários",all_users_path, class: "nav-link"  %>  
      </li>
      <li class="nav-item">
        <%= link_to "Refeições", meals_path, class: "nav-link"  %> 
      </li>
      <li class="nav-item">
        <%= link_to "Categorias de Refeição", meal_categories_path, class: "nav-link" %> 
      </li>
    </ul>
  
  </div>
</nav>
<br>