<%= render 'banner' %>
</br>
<div class="cardContainer">
    <% @meals.each do |meal| %>
    <div class="card car_solo" style="width: 16rem; height: 20rem">
            <% if meal.image.attached? %>
                <%= image_tag(meal.image, class: "img_certa" )%>
            <% else %>
                <%= image_tag("pedreiro.jpg", class: "img_certa" )%>
            <% end %>
        <div class="card-body">
            <h5 class="card-title letra_img"><%= meal.name %></h5>
            <p class="card-text letra_desc"><%= meal.description %></p>
            <p class="card-text color_porc">R<%= number_to_currency(meal.price) %> por porção</p>
            <div>
                <%= link_to 'editar', edit_meal_path(meal), class: "btn btn-warning tam"%>
                <%= link_to 'excluir', meal_path(meal),method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger tam"   %>
            </div>
        </div>
    </div>
    <% end %>
</div>

</br>
<div class="container-fluid">
<%= link_to  "nova refeição", new_meal_path, class: "btn btn-success button_new_order" %>
</div>


<footer class="footer">
  <li class="ftlil"><b>dinnerdash | todos os direitos reservados</b> </li>
  <li class="ftlir">desenvolvido por Trainee da silva </li>
</footer>