<%= render 'banner' %>
</br>
<div class="cardContainer">
    <% @meals.each do |meal| %>
    <div class="card" style="width: 18rem;">
        <%= image_tag(meal.image, class: "card-img-top" )%>
        <div class="card-body">
            <h5 class="card-title"><%= meal.name %></h5>
            <p class="card-text"><%= meal.description %></p>
            <p class="card-text">R$ <%= meal.price %> por porção</p>
            <%= link_to 'editar', edit_meal_path(meal), class: "btn btn-warning"%>
            <%= link_to 'apagar', meal_path(meal),method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger"   %>
        </div>
    </div>
    <% end %>
</div>

</br>
<%= link_to  "nova refeição", new_meal_path, class: "btn btn-success" %>