<%= link_to "dinnerdash", root_path %> 
<% if current_user.is_admin? %>
  <%= link_to "Backoffice", meal_categories_path %>
<% end %>  
<%= link_to "Perfil", edit_user_registration_path %>
<%= link_to "Sair", destroy_user_session_path , method: :delete %>
<div>
  <img src="../images/jay-wennington-2065.jpg" alt="login" width="100%" height="400vh">
</div>
</br>
<div class="perfilbox">
<form>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  <div class="form-row">  
    <div class="form-group col-md-6">
        <div class="field">
          <%= f.label :Nome %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "form-control" %>
        </div>
    </div>
    <div class="form-group col-md-6">
        <div class="field">
          <%= f.label :Email %><br />
          <%= f.email_field :email, autocomplete: "email",class: "form-control" %>
        </div>
    </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
  </div>
  <div class="form-row">  
    <div class="form-group col-md-6">
        <div class="field">
          <%= f.label :Nova_senha %> <i>(deixe em branco caso não queira alterar)</i><br />
          <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
        </div>
    </div>  
    <div class="form-group col-md-6">
        <div class="field">
          <%= f.label :Senha_atual_por_questão_de_segurança %><br />
          <%= f.password_field :current_password, autocomplete: "off",class: "form-control" %>
        </div>
    </div>
  </div>  
        <div class="actions">
          <%= f.submit "atualizar meu perfil" , class: "btn btn-success "%>
        </div>
      <% end %>
</form>  
</div>

<footer class="footer">
  <li>dinnerdash|todos os direitos reservados </li>
  <li>desenvolvido por Trainee da silva </li>
</footer>


